<div class="row">
  <br>
  <a href="/" class="btn-small">Home</a>
  <br>

  <h3 class="card-title">
   <%= @recipe.title%>
  </h3>

  <div class="col s12 m12 l12 card">
    <div class="card-image">
      <img src="<%= @recipe.photo.url %>" alt="">
    </div>
    <div class="card-content">
      <p>
        <% if @recipe.chef_name %>
        Chef: <%= @recipe.chef_name %>
        <% end %>
        <% @recipe.tag_names.each do |t|%>
          <span class="new badge grey-text indigo lighten-4"><%= t %></span>
        <% end %>
      </p>
      <br>
      <hr color="#efefef">
      <br>
      <p>
        <%= Kramdown::Document.new(@recipe.description).to_html %>
      </p>
    </div>
  </div>
</div>

